/* document.body.style.setProperty('--primaryColor', 'blue'); */
:root{
    --baseColor:#2395ff;
    --baseTxtColor:#333;
    --baseBgColor:#2395ff;
    --baseBorderColor:#2395ff;
    --baseBorderRadius:3px;
    // 按钮
    --baseBtnBgColor:#2395ff;
    --baseWarningBtnBgColor:#f3b109;
 }
