:root {
  --baseColor: #2395ff;
  --baseTxtColor: #2b3e4f;
  --baseSubTxtColor: #8b9fb6;
  // 背景相关
  --baseBgColor: #fff;
  --baseBorder:1px solid #2395ff;
  --baseBorderRadius: 3px;
  // 按钮
  --baseBtnBgColor: #2395ff;
  // 红黄蓝
  --yellowColor: #f3b109;
  --redColor: #ef2e2e;
  --blueColor: #2395ff;
}

$curTheme: light;

$themes: (
  light: (
    color: var(--baseTxtColor),
    subColor:var(--baseSubTxtColor),
    border: none,
    bgColor: var(--baseBgColor),
    bgColor_gis: var(--baseTxtColor),
  ),
  dark: (
    color: var(--baseBgColor),
    subColor:var(--baseBgColor),
    border: var(--baseBorder),
    bgColor: var(--baseTxtColor),
    bgColor_gis: var(--baseTxtColor),
  ),
);
@mixin useTheme() {
  @each $key, $val in $themes {
    $curTheme: $key !global;
    html[data-theme="#{$key}"] &,
    section[data-theme="#{$key}"] &{
      @content;
    }
  }
}
@function getVar($key) {
  $themeMap: map-get(
    $map: $themes,
    $key: $curTheme,
  );
  @return map-get($themeMap, $key);
}
@mixin clear {
  margin: 0;
  padding: 0;
}
