*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: none;
    font-size: 14px;
    line-height: 14px;
    transition: all .3s;
}
button{
    border-radius: 4px;
    padding: 5px 10px;
    &:hover{
        cursor: pointer;
        opacity: .85;
    }
}
